.font-rouge {
    font-family: $secondaryFont;
}

.togglerColor {
    background-color: $lightBlue;
}

.navTopBorder {
    border-top: 2px solid $lightBlue;
}

.container img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.nav-link:hover{
    color: $lightBlue !important;
}
/* media query make cursive brandname displaynone need only picture */
